/* основной цвет -  #212121; */
/* синий цвет - #2196F3 */
/* белый цвет #FFFFFF */
/* вторичный черный цвет- #757575;  */
/* прозрачный цвет для футера  rgba(255, 255, 255, 0.6); */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--basic-black-color);

  letter-spacing: 0.03em;
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

:root {
  --basic-black-color: #212121;
  --blue-color: #2196f3;
  --white-color: #ffffff;
  --secondary-black-color: #757575;
  --footer-shadowy: rgba(255, 255, 255, 0.6);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Шапка профиля */
.logo {
  color: var(--basic-black-color);
  text-decoration: none;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.span {
  color: var(--blue-color);
}
.link-ul-page {
  margin-top: 0;
  margin-bottom: 0;
}

.link-page {
  color: var(--basic-black-color);

  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link-page:hover,
.link-page:focus {
  color: var(--blue-color);
}
.nav-header {
  color: var(--secondary-black-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
}
.nav-header:hover,
.nav-header:focus {
  color: var(--blue-color);
}
/* Середина контента (мейн) */

/* Секция основная  */
.main-section {
  background-color: #2f303a;

  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;

  padding-top: 200px;
  padding-bottom: 200px;
}
.main-section-h {
  color: var(--white-color);
  margin-top: 0;
  margin-bottom: 30px;
}
.main-section-button {
  color: var(--white-color);
  background-color: var(--blue-color);
  border: none;
  margin-top: 0;

  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  border-radius: 4px;
}
/* секция чем мы занимаемся */
.activity-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.activity-title {
  font-size: 14px;
  line-height: 1.14;
  margin-top: 0;
  margin-bottom: 10px;
}
.activity-text {
  color: var(--secondary-black-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  margin-top: 0;
  margin-bottom: 0;
}
/* чем мы занимаемся */
.direction-section {
  padding-top: 0;
  padding-bottom: 94px;
}

.direction {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-top: 0;
  margin-bottom: 50px;
}

/* секция команды */

.command-section {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.command-photo {
  margin-top: 0;
  margin-bottom: 30px;
}
.command-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-top: 0;
  margin-bottom: 50px;
}

.command-person {
  color: var(--secondary-black-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  margin-top: 0;
}
.command-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;

  margin-top: 0;
  margin-bottom: 10px;
}

/* Футер страницы */

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  color: var(--white-color);
  text-decoration: none;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  margin-top: 0;
  margin-bottom: 20px;
}

.footer-adress {
  color: var(--white-color);

  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.19;
  font-style: normal;

  margin-top: 0;
  margin-bottom: 9px;
}
.footer-nav {
  color: var(--footer-shadowy);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  margin-top: 0;
  margin-bottom: 9px;
}
.footer-nav-tel {
  color: var(--footer-shadowy);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  margin-top: 0;
  margin-bottom: 0;
}
/* Портфолио */
/* Фильтры */
.filters:hover,
.filters:focus {
  color: var(--white-color);
  background-color: var(--blue-color);
}
.filters {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  background: #f5f4fa;
  border-radius: 4px;
  border: none;

  padding: 6px 22px;
}

.portfolio-img {
  margin-top: 0;
  margin-bottom: 20px;
}
.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-top: 0;
  margin-bottom: 4px;
}
.portfolio-text {
  color: var(--secondary-black-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;

  margin-top: 0;
  margin-bottom: 20px;
}
