// меню в хедере
.button-menu {
  z-index: 2;
  display: inline-flex;
  padding: 0;
  background: white;
  border: none;

  & .icon-close {
    display: none;
  }

  &.is-open .icon-close {
    display: block;
  }

  &.is-open .icon-burger {
    display: none;
  }
  @media screen and (min-width: $tablet) {
    display: none;
  }

  &:hover svg,
  &:focus svg {
    fill: $blue-color;
  }
}

.content-menu {
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    display: none;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    overflow: auto;
    background-color: $white-color;
    padding: 20px;
    text-align: center;
    font-size: 12px;

    &.is-open {
      display: block;
      z-index: 1;
    }
  }
  @media screen and (min-width: $tablet) {
    display: none;
  }
}
