/* Фильтры */
.filters-section {
  @media screen and (min-width: $tablet) {
    padding-top: 60px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
  }
}

.filters {
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }
}

.filters-list {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.filters button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  background: #f5f4fa;
  border-radius: 4px;
  border: none;

  padding: 6px 22px;

  &:hover,
  &:focus {
    color: $white-color;
    background-color: $blue-color;
    cursor: pointer;
  }
}
