// секция, чем мы занимаемся

.activity-section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.activity-item {
  @media screen and (min-width: $tablet) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: $desktop) {
    width: auto;
  }
}

.activity-item:not(:last-child) {
  @media screen and (min-width: $desktop) {
    margin-right: 30px;
  }
}
.activity-item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}
.activity-item:nth-child(-n + 2) {
  @media screen and (min-width: $tablet) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
  }
}
.activity-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;

  @media screen and (min-width: $tablet) {
    width: 354px;
  }

  @media screen and (min-width: $desktop) {
    width: 270px;
  }
}

.activity-icon {
  width: 70px;
  height: 70px;
}

.activity-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;

  @media screen and (min-width: $tablet) {
    text-align: left;
  }
  @media screen and (min-width: $desktop) {
    text-align: center;
  }
}
.activity-text {
  color: $secondary-black-color;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  margin-top: 0;
  margin-bottom: 0px;
}
/* чем мы занимаемся */

.direction {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-top: 0;
  margin-bottom: 50px;
}

.direction-section {
  padding-top: 0;
  padding-bottom: 94px;

  @media screen and (max-width: $desktop) {
    display: none;
  }
}
.direction-list {
  display: flex;
}

.direction-item {
  position: relative;
  width: 370px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.container-position::before {
  color: $white-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  padding: 27px 82px;

  display: inline-block;
  width: 370px;
  height: 70px;

  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  top: 224px;
}
.mac::before {
  content: "ДЕСКОПНЫЕ ПРИЛОЖЕНИЯ";
}
.iphone::before {
  content: "МОБИЛЬНЫЕ ПРИЛОЖЕНИЯ";
}

.ipad::before {
  content: "ДИЗАЙНЕРСКИЕ РЕШЕНИЯ";
}
