/* Постоянные клиенты */
.clients {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.clients-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media screen and (min-width: $desktop) {
    flex-wrap: nowrap;
  }
}

.clients-title {
  font-weight: 700;

  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 28px;

  @media screen and (min-width: $desktop) {
    font-size: 36px;
  }
}

.clients-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: calc((100% - 30px) / 2);

  &:hover,
  &:focus {
    fill: $blue-color;
    border: 1px solid $blue-color;
    cursor: pointer;
  }

  @media screen and (min-width: $tablet) {
    width: calc((100% - 30px) / 3);
  }
  @media screen and (min-width: $desktop) {
    width: 170px;
  }
}
.clients-icon:nth-child(-n + 3) {
  @media screen and (min-width: $tablet) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
  }
}
