// секция команды

.command-section {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.command-photo {
  margin-top: 0;
  margin-bottom: 30px;
  width: 450px;
  display: block;

  @media screen and (min-width: $tablet) {
    width: 354px;
  }

  @media screen and (min-width: $desktop) {
    width: 270px;
  }
}

.command-title {
  font-weight: 700;

  line-height: 1.17;
  text-align: center;

  margin-top: 0;
  margin-bottom: 50px;

  @media screen and (min-width: $tablet) {
    font-size: 28px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 36px;
  }
}

.command-item {
  text-align: center;
  background-color: $white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;

  &:nth-child(2n + 1) {
    @media screen and (min-width: $tablet) {
      margin-right: 30px;
    }
  }
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  &:nth-child(-n + 2) {
    @media screen and (min-width: $tablet) {
      margin-bottom: 30px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 0;
    }
  }
}

.command-person {
  color: $secondary-black-color;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  margin-top: 0;
  margin-bottom: 16px;
}

.command-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;

  margin-top: 0;
  margin-bottom: 10px;
}

/* Иконки соц-сети */

.social-list {
  display: flex;

  padding-right: 32px;
  padding-left: 32px;
  justify-content: center;

  @media screen and (min-width: $desktop) {
    justify-content: space-between;
  }
}

.social-network {
  display: block;
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $blue-color;
  }
}

.social-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .social-network:hover &,
  .social-network:focus & {
    fill: $white-color;
  }
}
