/* основной цвет -  #212121; */
/* синий цвет - #2196F3 */
/* белый цвет #FFFFFF */
/* вторичный черный цвет- #757575;  */
/* прозрачный цвет для футера  rgba(255, 255, 255, 0.6); */

$basic-black-color: #212121;
$blue-color: #2196f3;
$white-color: #ffffff;
$secondary-black-color: #757575;
$footer-shadowy: rgba(255, 255, 255, 0.6);

$tablet: 768px;
$desktop: 1200px;
